<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find depth_app)/maps/gmapping_45m.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="set_map_frame" default="map_yun"/>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
    <!--input depth img-->
     <remap from="image" to="/camera/aligned_depth_to_color/image_raw"/>
    <!--out the lidar rostopic-->
    <remap from="scan" to="/scan" /> 
    <!--The number of pixel rows to use to generate the laserscan.-->
    <param name="scan_height" value="40"/>
    <!--Time between scans (seconds). Typically, 1.0/frame_rate. -->
　　<param name="scan_time" value="0.03"/>
    <!--Minimum ranges to return in meters. Ranges less than this will be output as -Inf.-->
    <param name="range_min" value="0.4"/>
    <!--Maximum ranges to return in meters. Ranges greater than this will be output as +Inf.-->
    <param name="range_max" value="6"/>

    <param name="output_frame_id" value="camera_aligned_depth_to_color_frame"/> <!--camera_depth_frame-->
  </node>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id"  value="$(arg set_map_frame)"/>
  </node>

  <!-- AMCL -->
  <include file="$(find depth_app)/launch/amcl_config_mower.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find depth_app)/rviz/amcl.rviz"/>
  </group>

</launch>