<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find depth_app)/maps/gmapping_6m.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="set_map_frame" default="map_yun"/>

  <!-- Run the depthimage_to_laserscan node -->
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
    <remap from="image" to="/camera/aligned_depth_to_color/image_raw"/>
    <remap from="scan" to="/scan"/> 
    <param name="scan_height" value="40"/>
    <param name="scan_time" value="0.03"/>
    <param name="range_min" value="0.4"/>
    <param name="range_max" value="6"/>
    <param name="output_frame_id" value="camera_aligned_depth_to_color_frame"/>
  </node>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id"  value="$(arg set_map_frame)"/>
  </node>

  <!-- AMCL -->
  <include file="$(find depth_app)/launch/amcl_config_mower.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find depth_app)/rviz/amcl.rviz"/>
  </group>

</launch>