<launch>
  <arg name="set_base_frame" default="base_link"/>
  <arg name="set_odom_frame" default="map"/>                  <!--odom-->
  <arg name="set_map_frame"  default="map_yun"/>

  <!-- Run the depthimage_to_laserscan node -->
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
    <remap from="image" to="/camera/depth/image_rect_raw"/>
    <remap from="scan" to="/scan" /> 
    <param name="scan_height" value="40"/>
    <param name="scan_time" value="0.03"/>
    <param name="range_min" value="0.4"/>
    <param name="range_max" value="60"/>
    <param name="output_frame_id" value="camera_depth_frame"/>
  </node>
  
  <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find depth_app)/rviz/check_pointCloud.rviz"/>
  
  <!-- Run the laser_filters node -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find depth_app)/config/lidar_config.yaml"/>
    <remap from="base_scan" to="scan"/>
  </node>


  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="yun_2D_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <rosparam command="load" file="$(find depth_app)/config/gmapping_params.yaml" />
    <remap from="scan" to="/scan_filtered" />
  </node>
  
</launch>
